html,body {
    box-sizing: border-box;
    background-color:black;
    color: white;
}

body {
   text-align: center;
}

h1 {
    padding-top: 300px;
}

button {
    background-color: black;
    border-color: white;
    height: 40px;
    width: 80px;
    color: white;
    border-radius: 5px;;
}

.Score {
    display: inline;
    width: 600px;
    height: auto;
    font-weight: 600;
}

.PlayerScore, .CompScore {
    border-style: solid white;

}

.result {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}