html,body {
    box-sizing: border-box;
   
    color: white;
}

html {
    background-image: url(rock-paper-scissor-ft.jpg);
    background-size: cover;
}

body {
   text-align:center;
}

h1 {
    padding-top: 250px;
    font-size: 48px;
}

button {
    background-color: rgba(256,256,256,0);
    border-color: white;
    height: 60px;
    width: 100px;
    color: white;
    border-radius: 5px;
    font-weight: 800;
    font-size: 20px;
}

.Score {
    display: inline;
    width: 600px;
    height: auto;
    font-weight: 600;
}

.PlayerScore, .CompScore {
    
    
  

}

.result {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}